#root {
  width: 600px;
  height: 435px;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  text-align: center;
  transition: 0.4s;
}
#root:hover {
  box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1),
    2px 5px 10px 0 rgba(0, 0, 0, 0.06);
}
.btn {
  border: none;
  cursor: pointer;
  background-color: #fff;
  margin: 20px;
}
.icon-btn {
  display: block;
  width: 25px;
  height: 25px;
  color: #282566;
  transition: 0.3s;
}
.icon-btn:hover {
  color: #504acc;
}
.surprise_me-btn {
  color: #645cff;
  background-color: #c1beff;
  border: none;
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.surprise_me-btn:hover {
  background-color: #645cff;
  color: #c1beff;
  transition: 0.4s;
}
